.main{
    font-family: 'Noto Sans TC';
}
.harmony-office img:first-child{
    display: block;
    margin: auto;
    max-width: 100%;
}
.harmony-office img:nth-child(2){
    display: none;
    margin: auto;
    max-width: 100%;
}
.harmony-office p{
    padding: 120px 0;
    margin: auto;
    font-size: 20px;
    width: 50%;
    text-align: center;
    letter-spacing: 2px;
    line-height: 2;
}
.harmony-element{
    margin-top: 100px;
    position: relative;
    display: flex;
    justify-content: center;
    display: block;
    max-width: 100%;
    overflow: hidden;
} 
.harmony-element p{
    font-size: 20px;
    width: 50vw;
    letter-spacing: 2px;
    line-height: 2;
    position: absolute;
    top: 200px;
    right: 200px;
}
.harmony-conclusion{
    margin-top: 100px;
    max-width: 100%;
}
.harmony-conclusion p{
    padding: 10px 0;
    margin: auto;
    width: 70%;
    font-size: 20px;
    text-align: center;
    letter-spacing: 2px;
    line-height: 2;    
}

.contact-us{
    width: 100%;
    text-align: center;
    padding: 50px 0 80px;
}
.contact-us a{
    text-decoration: none;

    display: block;
    margin: auto;
    width: 200px;
    height: 70px;
    background-color: transparent;
    border: 1px solid #626262;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.contact-us-btn::before {
    content: '';
    position: absolute;
    background-color: #626262;
    transition: 0.3s ease-out;
}
.contact-us-btn span{
    font-size: 20px;
    letter-spacing: 4px;
    color: #626262;    
    position: relative;
    display: inline-block;
    text-transform: uppercase;
    top: 0; left: 0;
    transition: 0.2s;
}
.contact-us-btn:hover span{
    color: rgb(255,255,255);
    outline: 0;
    outline-offset: 0;
    transition: 0.2s 0.1s;
}
.contact-us-btn:hover{
    outline: 0;
    outline-offset: 0;
    cursor: pointer;
}
.hover-slide-right::before {
    content: '';
    position: absolute;
    top: 0; bottom: 0; left: 0; 
    height: 100%; width: 0%;
}
.hover-slide-right:hover::before {
    content: '';
    position: absolute;
    width: 100%;
}

@media screen and (width<1024px) {
    .harmony-office p{
        width: 60%;
    }    
    .harmony-element{
        margin-top: 40px;
        position: relative;
        display: flex;
        justify-content: center;
        display: block;
    } 
    .harmony-element img{
        margin-left: -200px;
    }
    .harmony-element p{
        right: 20px;
    }
}
@media screen and (width<768px) {
    .harmony-office img:first-child{
        display: none;
    }
    .harmony-office img:nth-child(2){
        display: block;
    }
    .harmony-office p{
        width: 80%;
        font-size: 16px;
    }
    .harmony-element p{
        font-size: 16px;
        top: 160px
    }
    .harmony-conclusion{
        margin-top: 100px;
    }
    .harmony-conclusion p{        
        font-size: 16px;
        width: 80%;
    }
    .contact-us{
        padding: 60px 0 40px;
    }
}