.intro-card{
    display: flex;
    align-items: center;
    margin: 30px 0;
}
.intro-card .member-info{
    padding: 10px;
}
.intro-card .member-info .member-name{
    font-size: 24px;
    font-weight: 600;
    margin: 0 8px 24px;
}
.member-info .member-position, .member-info .member-education{
    font-size: 20px;
    margin: 16px 8px;
}