.awardsList-colume{
    max-width: 1440px;
    margin: auto;
}
.awards-section{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 80px;
    max-width: 1440px;
    gap: 100px
}
.awards-Rest img,
.awards-TeaTesting img{
    display: block;
    box-shadow: #FFF -10px -10px 0px -1px, #000 -10px -10px;
}

.awards-illustration{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.awards-illustration h3{
    font-size: 36px;
    line-height: 3;
}
.awards-illustration ul li{
    font-size: 20px;
    line-height: 2;
}
/* Autumn */
.awards-Autumn{
    flex-direction: row-reverse;
}
.awards-Autumn img{
    display: block;
    box-shadow: #FFF 10px 10px 0px -1px, #000 10px 10px;
}
.awards-Autumn h3,
.awards-Autumn ul{
    text-align: right
}