body{
    font-family: 'Gilda Display','Noto Serif TC';
    background-image: url(../img/about_Harmony_bg.png);
}
header{
    height: 100px;
}
nav{
    width: 100%;
    position: fixed;
    z-index: 99;
    /* display: none; */
}
.navbar_white{
    display: flex; /* none */
    justify-content: space-evenly;
    align-items: center;
    height: 100px;
    background-color: #FFFFFF;
}
.navbar-logo img{    
    margin: auto;
}
.navbar-menu{
    display: flex;
    list-style: none;
}
.navbar-menu li{
    padding: 10px;
}
.navbar_white a{
    font-size: 20px;
    letter-spacing: 2px;
    text-decoration: none ;
    color: #000;
    display: flex;
    height: 60px;
    align-items: center;
}
.navbar-toggler{
    color:white;
}
.navbar-toggler ul{
    display: none;
}
.breadcrumb .breadcrumb-list{
    list-style: none;
    margin: 100px 240px;
    padding-bottom: 40px;
    padding-left: 120px;
    border-bottom: 1px solid#000;
}
.breadcrumb .breadcrumb-list li{
    display: inline;
}
.breadcrumb .breadcrumb-list li a{
    text-decoration: none;
    color: #000;
}
.breadcrumb-list li:not(:last-child){
    font-size: 30px;
}
.breadcrumb-list li:last-child{
    font-size: 48px;
}
.breadcrumb-list li:not(:last-child)::after {
    padding: 14px;
    color: black;
    content: "/\00a0";
}


.row{
    justify-content: center;
    row-gap: 100px;
}
.portfolio_card{
    background-color: #C7B09E;
    border-radius: 10px;    
}
.portfolio_card a{
    text-decoration: none;
    position: relative;
}
.portfolio_card a img{
    display: block;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.portfolio_card a .img-mask{
    width: 360px;
    height: 295px;
    background-color: rgba(0, 0, 0);
    opacity: 0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    transition: .2s;
}
.portfolio_card a .img-mask:hover{
    opacity: 0.7;
}
.portfolio_card a .img-mask button{
    width: 150px;
    height: 50px;
    background-color: transparent;
    color: #FFFFFF;
    letter-spacing: 4px;
    border:1px solid #FFFFFF;
    margin: auto;
    font-size: 16px;
    transition: .2s;
}
.portfolio_card a .img-mask button:hover{
    background-color:#ffffff;
    opacity: 1;
    color: #000000;
    cursor: pointer;
}
.portfolio_title, .portfolio_description{
    max-width: 360px;
    box-sizing: border-box;
    overflow: hidden;
}
.portfolio_title{
    font-size: 36px;
    padding: 40px 28px 22px;    
}
.portfolio_description{
    font-size: 24px;
    padding: 10px 28px 42px;   
    letter-spacing: 2px; 
    line-height: 1.5;
    height: 160px;
}
.pagination{
    margin:60px 0 10px;
    box-sizing: border-box;
    
}
.pagination .page_btn{
    margin: 10px;
    width: 40px;
    height: 40px;
    background-color: transparent;
    border: none;
    font-size: 16px;
    box-sizing: border-box;
}
.pagination .page_one_btn{
    border-bottom: 1px solid #000;
    cursor: pointer;
}
.pagination .page_two_btn:hover{
    border-bottom: 1px solid #000;
    cursor: pointer;
}
.pagination .page_two_btn:hover +.pagination .page_one_btn{
    border-bottom: 0px solid #000;
    background-color: #C7B09E;
}


footer{
    background-color: #EBEAE6;
    padding: 20px 0 10px;
    margin-top: 100px;
}
.footer-content{
    padding: 20px;
    display: flex;
    justify-content: center;
}
.footer-content .footer_logo{
    display: block;
    align-self: center;
}
.footer-content .footer_seperate_left{
    border-right:1px solid; 
    width: 50px;
}
.footer-content .footer_seperate_right{
    border-left:1px solid; 
    width: 50px;
}
.footer-content .footer_contact{
    font-size: 24px;
    line-height: 1.5;
}
.footer_copyright{
    text-align: center;
    font-size: 12px;
    padding-bottom: 10px ;
    color: #7D7D7D;
}
@media screen and (width<768px) {
    .footer-content{
        flex-direction: column;
    }
    .footer-content .footer_logo{
        margin-bottom: 30px;
    }
    .footer-content .footer_seperate_left{
        display: none;
    }
    .footer-content .footer_seperate_right{
        display: none;
    }
    .footer-content .footer_contact{
        font-size: 20px;
        line-height: 1.5;
        text-align: center;
    }
}