.workflow-row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

}
.workflow-card{
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    position: relative;
    margin-bottom: 80px;
}
.workflow-card .iconbg{
    background-color: #E0E0E0;
    padding: 35px;
    border-radius: 50%;
}
.workflow-card .workflow-text{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 20px;
}
.workflow-card .workflow-text .workflow-order{
    font-family: 'Abhaya Libre';
    font-weight: 800;
    font-size: 64px;
    color: #848484;
}
.workflow-card .workflow-text .workflow-title{
    font-family: 'Noto Sans TC';
    font-size: 36px;
}
.connecting_line{
    height: 80px;
    border-left: 1px solid #000000;
    position: absolute;
    top: 153.2px;
    left: 75px;
}
.connecting_line_hidden{
    display: none;
}